
  .nav-link{
    background-color: #EAEAEA;
  }
    
    h1 {
    font-family: Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #031b4e;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
    word-break: break-word;

}  
p {
    font-family: Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #031b4e;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: left;
    word-break: break-word;

}  
.form-inline input{
    width: 500px;
    margin: 0px 0px 0px 200px;
    
}
i{
    background-color: #EAEAEA;
    color:#0085ff ;
    
}
h2{
    color: #031b4e;
    font-size: 16px;
    line-height: 25px;
    word-break: normal;

}

.errors {
	list-style: none !important;
	margin: 0;
	padding-left: 0;
}
.errors li {
	color: red;
	font-size: 11px; 
}

.post-date {
	font-size: 12px;
	color: #4e4343;
}
/* Login */
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

